<!DOCTYPE html>
<html ng-app="ghashStatusApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1,
        maximum-scale=1, minimum-scale=1, width=device-width, height=device-height,
        target-densitydpi=device-dpi" />

        <script src="js/lib/hmac-sha256.js"></script>
        <script src="js/lib/enc-base64-min.js"></script>

        <script src="js/lib/angular.js"></script>
        <script src="js/lib/ngTouch.min.js"></script>
        <script src="js/lib/restfull.js"></script>

        <link type="text/css" rel="stylesheet" href="css/index.css">

        <title>Miner status</title>
    </head>

    <body lang="en" ng-controller="dataCtrl">

        <div class="rateMeasure_block">
            <button ng-repeat="i in measure.buttons" class="{{i.style}}" ng-click="setActive(i)">
                {{i.name}}
            </button>
        </div>

        <div class="hashRate_block">

            <div>
                <span>5 min</span>
                <div>
                </div>
            </div>
            <div class="light">
                <span>15 min</span>
                <div>
                </div>
            </div>
            <div>
                <span>1 hour</span>
                <div>
                </div>
            </div>
            <div class="light">
                <span>1 day</span>
                <div>
                </div>
            </div>
        </div>



        <div class="setMinHr_block">
            <span>Will be Alert when hash rate in 5 min less this value:</span>
            <input type="number"  name='minHashRate' value="{{s.minHR}}">
            <button type="button">set</button>
        </div>

        <div class="sendOptions">
            <div>
                <span>API key:</span>
                <input  ng-model="session.api_key" required>
            </div>
            <div>
                <span>API secret:</span>
                <input  ng-model="session.api_secret"  required>
            </div>
            <div>
                <span>User name:</span>
                <input  ng-model="session.userName" required>
            </div>
            <div class="pageButton_block">
               <input type="submit" class="form_button" ng-click="save()">
            </div>
        </div>


        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
    </body>
</html>
